<div *ngIf="!detail">
  <div class="loader text-center">
    <span><</span><span>/></span>
  </div>
</div>


<div *ngIf="detail">
  <div class="container">
    <button routerLink="/blog">Back</button>
    <h1 class="text-left"><b>{{ detail.title }}</b></h1> 

    <div>
      <img src="https://a0.muscache.com/im/pictures/a3a7a8a0-7f18-4e01-927f-a0fbda090cad.jpg?aki_policy=profile_x_medium" alt="Max Goh" class="profile img-circle">
      <span>&nbsp;By <b style="color: skyblue;">Max Goh</b> on {{ detail.published_on }}</span>
    </div>

    <ul class="tags">
      <li *ngFor="let tag of detail.tags" class="tag">{{tag}}</li>
    </ul>

    <div class="text-justify" [innerHTML]="detail.body|MarkdownToHtml"></div>

    <ul class="social-media-tags text-center">
      <li class="social-media-tag"><a class="social-media-share" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li class="social-media-tag"><a class="social-media-share" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li class="social-media-tag"><a class="social-media-share" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    </ul>

    <hr>

    <disqus [identifier]="detail.title"></disqus>

  </div>
</div>
