.profile {
  max-height: 32px;
  max-width: 32px;
}

ul.social-media-tags {
  list-style: none;
  list-style-image: none;
}

li.social-media-tag {
  display: inline;
  margin-left: 3vw;
  margin-right: 3vw;
}

a.social-media-share {
  color: lightgray;
  transition: color 0.5s;
  font-size: 1.2em;
}

a.social-media-share:hover {
  color: skyblue;
}

@media (max-width: 960px) {
  li.social-media-tag {
    margin-left: 8vw; 
    margin-right: 8vw; 
  }
}

