<div class="container">
  <a routerLink="/admin" class="button button-default">Back</a>

  <div class="page-header">
    <h1 class="text-center">New Post</h1>
  </div>

  <form >
    <div class="row">
      <div class="form-group col-xs-6">
        <select [(ngModel)]="category" class="form-control" id="sel1" [ngModelOptions]="{standalone: true}">
          <option>Technology</option>
          <option>Life</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">Title</div>
        <input type="text" class="form-control" id="post-title" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
      </div>
      <br>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-tags" aria-hidden="true"></i></div>
          <input type="text" class="form-control" id="post-tag"  [(ngModel)]="tags" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <br>
      <div class="form-group">
        <simplemde [(ngModel)]="body" [ngModelOptions]="{standalone: true}"></simplemde>
      </div>
    </div>
    <button type="submit" class="btn btn-success" (click)="addDraft(title, body, category, tags)">Save Draft</button>
  </form>
</div>
h

