<div *ngIf="!posts">
  <div class="loader text-center">
    <span><</span><span>/></span>
  </div>
</div>

<div class="container">
  <div class="col-md-10">
    <div *ngIf="posts">
      <div class="text-center" *ngFor="let post of posts">
        <a class="col-xs-12 nounderline" style="text-decoration: none !important" [routerLink]="['/blog', post.slug]">
          <div class="card" style="margin-bottom: 15px;">
            <!--<div class="row text-left">-->
              <!--<span style="color: darkgray">{{ post.published_on }}</span>-->
            <!--</div>-->
            <div class="row text-left">
              <h4 style="margin-bottom: 0;" ><b >{{ post.title }}</b></h4>
              <img src="https://a0.muscache.com/im/pictures/a3a7a8a0-7f18-4e01-927f-a0fbda090cad.jpg?aki_policy=profile_x_medium" alt="Max Goh" class="profile img-circle">
              <span>&nbsp;By <b style="color: skyblue;">Max Goh</b> on {{ post.published_on }}</span>
              <ul class="tags" style="margin-bottom: 0;">
                <li *ngFor="let tag of post.tags" class="list-tag">{{tag}}</li>
              </ul>
              <h6 style="margin-bottom: 0;">{{ post.summary | truncate : 150 }}...</h6>
            </div>
            <div class="row text-left">
              <i class="light-gray">Read more...</i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-2 visible-md visible-lg">
    <div style="position: fixed;">
      <ul>
        <li><a href="https://twitter.com/TheMaxGoh" target="_blank"><span style="color: #268CCD;" class="social-media-icon footer-element fa fa-twitter" aria-hidden="true"></span></a></li>
        <li><a href="https://github.com/maxgoh" target="_blank"><span style="color: #333;" class="social-media-icon footer-element fa fa-github" aria-hidden="true"></span></a></li>
        <li><a href="" target="_blank"><span style="color: #3b5998;" class="social-media-icon footer-element fa fa-facebook" aria-hidden="true"></span></a></li>
        <li><a href="https://instagram.com/maxgohjh" target="_blank"><span style="color: #e1306c;" class="social-media-icon footer-element fa fa-instagram" aria-hidden="true"></span></a></li>
      </ul>
    </div>
</div>
