<div class="container-fluid">
  <div class="page-header">
    <h1 class="text-center">Drafts</h1>
  </div>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-xs-1">No.</th>
        <th class="col-xs-7">Title</th>
        <th class="col-xs-4">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let draft of drafts; let i = index;">
      <tr>
        <td class="col-xs-1">{{ i + 1}}</td>
        <td class="col-xs-7"><a [routerLink]="['/admin/draft', draft.id]">
          <div class="row">
            <b>{{ draft.title }}</b>
          </div>
          <div class="row">
            {{ draft.body }}
          </div>
          </a></td>
        <td class="col-xs-4">
          <button (click)="deletePost(draft.id)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
          <button (click)="publishDraft(draft.id)" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
