.twitter-follow-button {
   border-color: #268CCD;
   color: #268CCD;
   border-radius: 100px;
}

.inverse-twitter-follow-button {
  border-color: #268CCD;
  color: white;
  background: #268CCD;
  border-radius: 100px;
}

