<div class="container">
  <div class="page-header">
    <h1 class="text-center">Edit Post</h1>
  </div>

  <div *ngIf="draft">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Title</div>
          <input type="text" class="form-control" id="post-title" formControlName="title" [(ngModel)]="draft.title">
        </div>
        <br>
        <div class="form-group">
          <!-- <label for="comment">Body:</label> -->
          <!-- <textarea class="form-control" rows="15" id="post-body" formControlName="body" [(ngModel)]="draft.body" contenteditable="true"></textarea> -->
          <simplemde [(ngModel)]="draft.body" [ngModelOptions]="{standalone: true}"></simplemde>
        </div>
      </div>
      <button type="submit" class="btn btn-success" (click)="updateDraft(draft.id, draft.title, draft.body)">Save Edit</button>
    </form>
  </div>
</div>
