<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-8 text-right">
      <a routerLink="/admin/new" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new post
      </a>
    </div>
  </div>

  <br>

  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" [routerLinkActive]="['active']"><a routerLink="/admin/publish">Published<span *ngIf="postCount" class="badge">{{ postCount.publish }}</span></a></li>
    <li role="presentation" [routerLinkActive]="['active']" ><a routerLink="/admin/draft">Draft <span *ngIf="postCount" class="badge">{{ postCount.draft }}</span></a></li>
    <li role="presentation" [routerLinkActive]="['active']"><a routerLink="/admin/profile">Profile </a></li>
  </ul>

  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

